body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;             /* Увеличиваем ширину для мобильных */
    max-width: 600px;       /* Уменьшаем максимальную ширину */
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;       /* Уменьшаем размер заголовка */
}

.game-wrapper {
    display: flex;
    flex-direction: column;   /* Изменяем направление на вертикальное на маленьких экранах */
    gap: 10px;
}

.phrase-bank, .sequence-area {
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;       /* Уменьшаем минимальную высоту */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.phrase {
    background-color: #e9e9e9;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
    margin-bottom: 0;
    touch-action: none;      /* Отключаем стандартные жесты касания */
}

.phrase:active {
    cursor: grabbing;
}

.phrase.correct {
    background-color: #c8e6c9;
}

.phrase.incorrect {
    background-color: #ffcdd2;
}

#check-button, #reset-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 80%;             /* Задаем ширину кнопкам */
    max-width: 200px;      /* Ограничиваем максимальную ширину кнопок */
}

#check-button:hover, #reset-button:hover {
    background-color: #388E3C;
}

.result {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* Медиа-запрос для экранов шире 600px */
@media (min-width: 600px) {
    .game-wrapper {
        flex-direction: row; /* Возвращаем горизонтальное размещение на больших экранах */
    }
    .container {
        width: 80%;
        max-width: 800px;
    }
    h1 {
        font-size: 2em;
    }

    #check-button, #reset-button {
        width: auto; /* Возвращаем автоматическую ширину */
        max-width: none; /* Убираем ограничение максимальной ширины */
        margin: 10px;

    }
}
